# Módulos de Node
node_modules/

# Build
dist/

# Variables de entorno
.env

# Logs
*.log
npm-debug.log*

# Uploads
uploads/*
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
prisma/migrations/
